h2{
    text-align: center;
   }



footer{

    color: white !important;

    }
.foot-al{
    color: white;
    display: inline-block;
    flex-direction: row;

    }
.blanche{
   color: white !important;
      }
.flex{

   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 3px;
   padding: 3px;
    }
.row{
            color:black;
    }

.page{
    margin: 5%;
    padding: 10%;

}
/*.aligner{
  float: right;
    clear: left;
    width: 80px;
    height: 80px;
    display: inline-flex;
    flex-direction: row;
   align-items: start;
  justify-content: space-between;

}*/
#aligcard{
     display:flex;
    flex-direction: row;
   align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;

}
.colonne-footer{
    display:flex;
    flex-direction:column;
    margin-left: -133px;
}

